:root{
    --primary-color: #e32929;
    --secondary-color:#ff611d;
    --textiary-color:#ffb80e;
    --menu-speed: 0.3s
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
     line-height: 1.4;
}
section{
    width: 100%;
    height: 100vh;
}
/* navbar */

#welcome_page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    padding:  0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.logo-image{
    width:1.25rem ;
    height: 0.9375rem;
}
.logo-title{
    color: var(--primary-color);
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-left: 0;
}
span{
    color: var(--primary-color);
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}
  .nav-items a{
    text-decoration: none;
    color: #000;
}
#welcome_page a{
    margin-top: 20px ;
    text-decoration: none;
    color: #000;
}

.nav-items {
    display: flex;
}
nav ul li  {
    list-style: none;
    margin: 0 10px;
}
 .nav-items ul a {
    text-decoration: none;
    color: var(--primary-color);
   }

nav ul li a:hover:after {
     content: '';
     width: 100%;
     height: 10%;
     background-color: var(--textiary-color);
     display: block;
     
}
nav ul li a::after {
    content: '';
     width: 0;
    height: 10%;
     display: block;
     transition: 0.2s;
}
/* .menu-wrap{
    display: none;
} */
.icons a svg{
width: 1.1rem;
transition: all .3s;
}
.icons a svg:hover{
width: 1.1rem;
color: var(--secondary-color);
}


/* showcase */
.showcase{
display: flex;
align-items: center;
justify-content: space-around;
position: relative;
top: 7.5rem;
}
.showcase-text h3{
position: relative;
top: -7.5rem;
left: .625rem;
font-size: 2.5rem;
font-family:   'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
}
.showcase-image img{
    width: 31.25rem;
    position: relative;
    top: -5rem;
    left: 3.125rem;
}
section p{
    width: 31.25rem;
    text-align: justify;
  position: relative;  
  bottom: 6.25rem;
  left: 3.75rem;
}
.showcase-btn{
    background-color: var(--textiary-color);
    cursor: pointer;
    position: relative;
    left:3.75rem;
    bottom: 4.375rem;
    width: 8.125rem;
    padding: .625rem;
    transition: 0.3s;
}
.showcase-btn a{
    color: black;
    text-decoration: none;
    margin-right: 0.3125rem;
}
.showcase-btn:hover{
    background-color: var(--secondary-color);
}
.showcase-btn svg{
    width: .625rem;
    height: .625rem;
    transition: 0.3s;
}
.showcase-btn:hover svg{
    transform: translateX(0.4375rem);
}
/* about page */
#about{
    width: 100%;
    height: 100vh;
    padding: 3.125rem 0;
    background-image: url(./images/bg2.jpg);
}

.about-page{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.about-text h3 span{
  font-size: 35px;
  margin-right: .3125rem ;
}
.about-text h3 {
  font-size:1.5625rem ;
}
.about-text h4{
 font-size: 1.5625rem;
 margin-top: 0.9375rem;
}
.about-text p{
    width: 34.375rem;
  text-align: justify;
  margin-right: .9375rem;
  line-height: 1.2;
  margin-top: .625rem;
  margin-bottom: .9375rem;
}
.about-image img{
   width: 21.875rem;
   position: relative;
   top: 3.125rem;
   left:.9375rem;
   border-radius: 100%;
   
}
.about-btn{
    text-decoration: none;
    background-color: var(--textiary-color);
    color: black;
    padding: .9375rem;
    margin-top: 3.125rem;
    transition: 0.3s;
}
.about-btn:hover{
    background-color: var(--secondary-color);
    color: black;

}
/* menu styling */
.menu{
    width: 100%; 
    padding: 3.75rem 0;
    
}
.menu h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}
.menu h1 span::after{
    content: '';
    height: .125rem;
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    position: relative;
    bottom: .3125rem;
}
.menu .menu-box{
   height: 100%;
    margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
#menu .menu-box .menu-card{
    width: 325px;
    height: 480px; 
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
@media (min-width:1000px){
    #menu .menu-box .menu-card{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    }
    #about{
        width: 100vw;
        height: 100vh;
        padding: 3.125rem 0;}
        
}
#menu .menu-box .menu-card:nth-child(6) h2, #menu .menu-box .menu-card:nth-child(7) h2{
font-size: 1.2rem;
}

.menu-card .menu-image{
  width: 300px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.menu-card .menu-image img{
width: 100%;
height: 100%;
padding: 5px;
object-fit: cover;
object-position: center;
transition: 0.3s;
}
.menu-card .menu-image:hover img{
transform: scale(1.1);
}
.menu-card .menu-info{
    text-align: center;

}
.menu-card .menu-info h2,.menu-card .menu-info svg{
    color: var(--textiary-color);
}
.menu-card .menu-info h3{
    margin: 20px 0 30px 0;
}

.menu-info .menu-btn{
    text-decoration: none;
    background-color: var(--textiary-color);
    color: black;
    padding: 15px;
    margin-top: 15px;
    transition: 0.3s;
}
.menu-btn:hover{
    background-color: var(--secondary-color);
    color: black;
}
.menu-card .small-card{
    width: 25px;
    height: 25px;
    float: right;
    position: relative;
    top: -200px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}
.menu-box .menu-card:hover .small-card{
    position: relative;
    right: 20px;
    color: var(--secondary-color);
    opacity: 1;
}
.menu-box .menu-card .small-card svg {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color:var(--textiary-color) ;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}
.menu-box .menu-card .small-card svg:hover {
    color: var(--secondary-color);
}
.menu-icon{
    width: 20px;
    height: 20px;
}

/* services styling */
#services{
    width: 100vw;
    padding: 60px 0 0 0;
    }
    #services h1{
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
.services-container{
    width: 100%;
    height: 100%;
    padding: 60px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.services-container .services-box{
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-left: 10px;
    background: var(--textiary-color);
    transition: 0.5s;
}
/* .services-container .services-box::after{
content: '';
position: absolute;
display: block;
background: inherit;
opacity: 0.9;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateX(-75%) translateY(-75%) rotate(-280deg);

}
.services-container .services-box:hover::after{
transform: translateX(-75%) translateY(-75%) rotate(-280deg);

} */

.services-container .services-box img{
width: 100%;
height: 100%;
transition: 0.3s;
}
.services-container .services-box:hover img{
opacity: 0.5;
width: 600px;
}

 .services-text h3{
position: absolute;
margin: -25rem 0 0 2rem;
z-index: 5;
opacity: 0;
font-size: 40px;
transition: 0.3s;
}
 .services-box:hover h3{
opacity: 1;
}
 .services-text p{
position: absolute;
margin: -20rem 0 0 20px;
text-align: center;
z-index: 5;
opacity: 0;
font-size: 20px;
transition: 0.3s;
}
 .services-box:hover p{
opacity: 1;
}
 .services-text .services-btn{
position: absolute;
margin-top: -10rem;
margin-left: 15rem;
z-index: 5;
opacity: 0;
font-size: 20px;
transition: 0.3s;
text-decoration: none;
background-color: var(--textiary-color);
color: black;
padding: 15px;

}
 .services-box:hover .services-btn{
opacity: 1;
}
 .services-box .services-btn:hover{
    background-color: var(--secondary-color);
    color: #000;
}

/* reviews */
.reviews{
    width: 100%;
    height: 100vh;
    padding: 60px 0 0 0;
    /* background-image: url(./images/bg-1.jpg); */
}
.reviews h1{
text-align: center;
padding-bottom: 2rem;
}
.customer-reviews-container{
    height:27rem ;
    width: 100%;
    margin: 5rem 0 2rem 0;
    overflow: hidden;
    transition: all .3s;
}
.reviews .customer-reviews-container .customer-box{
    background-color: var(--textiary-color);
    width: 40rem;
    height: 100%;
    padding: 1rem;
    margin:  0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border: .1rem solid rgba(0, 0, 0, 0.2) ;
    border-radius: 15px;
    text-align: center;
    transform: translateX(20rem);
    transition: .3s all;
}
.reviews .customer-box svg{
    position: absolute;
    top: 1rem ;
    right: 1rem;
    width: 30px;

}
.customer-box .customer-image{
    padding-bottom: 1.5rem;
}
.customer-image img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.customer-info h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: var(--secondary-color);
}
.customer-box p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: #fff;
}
.customer-heading{
    text-align: center;
    font-size: 30px;
}

  .btn {
    display: inline-block;
    background: #fff;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border: none;
    transition: all 1s;
    transform: translateY(-2rem);

  }
  .btn:hover {
    background: #fff;
    color: var(--textiary-color);
  }
  
  .btn-dark {
    background: var(--secondary-color);
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border: none;
    transition: all 1s;
    transform: translateY(-2rem);

  }
  .btn-dark:hover {
    background: #fff;
    color: var(--secondary-color);
  }

/* team */

/* team stylings */
.our-team{
    width: 100%;
    height: 90vh;
    margin: 5rem 0;
}
.our-team h1{
margin: 3rem 0;
text-align: center;
}


.team-container{
    display: flex;
    justify-content: center;
}
.team-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.team-box{
    width: 12.5rem;
    height: 12.5rem;
    text-align: center;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.team-box .team-image img{
    width: 9.375rem;
    height: 9.375rem;
    position: relative;
     top: 24px;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--primary-color);
    z-index: 6;
}
.team-box:hover {
   height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 6;
}
.team-box:hover img{
   transform: translateY(-80px);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--primary-color);
    z-index: 6;
}
.team-box:hover .profile{
   transform: translateY(70px);
}
.team-box p{
    display: none;
}
.team-box:hover p{
display: contents;
}

.team-box  .profile{
  position: relative;
  top: -120px;
}
.profile .position{
    color: var(--primary-color);
}
.team-reviews {
    position: relative;
    top: -100px;
    transition: 0.3s;
    color: var(--primary-color);

}
.profile-socials i{
    position: relative;
    top: -200px;
    transition: 0.3s;
    color: var(--primary-color);
}
.team-box:hover .team-reviews {
    transform: translateY(70px);
 }
 .team-box:hover .profile-socials i{
    transform: translateY(180px);
 }
/* order now styling */
#order_now{
    width: 100%;
   height: 100%;
   padding: 60px 0;
}
#order_now h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-container{
    margin: 0 50px;
    padding: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}
.sub-heading{
    text-align: center;
    font-family:  sans-serif ;
    font-size: 40px;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.input-container{
    padding: 0 auto;
}
.inputs{
    width: 49%;
}
.inputs label{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--textiary-color);
}
.inputs p{
    color: var(--primary-color);
}
.inputs input{
    width: 250px;
    height: 30px;
     outline: none;
    border: none;
    border-bottom:1px solid var(--textiary-color);
}
.inputs input:focus{
outline: none;
border-bottom: 1px solid var(--secondary-color);
}
.inputs #message-box{
   width: 30rem;
   height: 10rem;
   transform: translateX(50%);
   resize: none;
   border-radius: 10px;
   font-family: sans-serif;
   padding: 5px;
}
.inputs #message-box:focus{
    outline: none;
  border: 1px solid var(--primary-color);
}
.inputs .message-box{
   transform: translateX(50%);
}
::placeholder{
    padding: 5px;
}
label{
    color: var(--primary-color);
}

button{
    width: 5.5rem;
    height: 3rem;
    background-color: var(--textiary-color);
    border-radius: 5px;
    border-width: 0;
    margin-top: 15px;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    width: 5.5rem;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border-width: 0;
}
.footer-container{
    margin: 0 auto;
}

.footer-box{
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    padding: 10px 30px;
    margin: 0 auto;
}
.footer a:hover i{
text-decoration: none;
color: var(--secondary-color);
  
}
.footer a{
    text-decoration: none;
    color: var(--primary-color);
}
.footer a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
.footer-bottom{
    margin: 1.5rem 0 .5rem 0;
    text-align: center;
    font: larger;
}

/* contact page */

#welcome_contact_page{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#welcome_contact_page a{
text-decoration: none;
color: black;
}
  textarea{
    width: 15rem;
    border-radius: 8px;
    border-color: var(--textiary-color);
    resize: none;
  }
  textarea:focus{
    outline: none;
    border-color: var(--primary-color);
  }
  input[type='text'], [type='email']{
    background-color: inherit;
    width: 250px;
    outline: none;
    border: none;
    border-bottom:1px solid var(--textiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  input[type='file']{
    margin: 20px 0;
  }
  input[type='text']:focus, [type='email']:focus{
    background-color: inherit;
    border-color: var(--primary-color);
  }
  div.text {
    color: #110016;
    font-weight: bold;
    
  }
  div.bottom {
  color: var(--primary-color);  }

  .inp{
    margin: 20px 0;
    border-radius: 2px;
    cursor: pointer;
  }
  .inp-2{
    background-color: var(--textiary-color);
    color: var(--primary-color);
    margin: 0 0 20px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .button {
    background:var(--textiary-color);
    color: var(--primary-color);
    border-radius: 8px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
  }
  .button:hover{
    background: var(--secondary-color) ;
    color: var(--textiary-color);
  }
  .bottom-text{
    color: var(--primary-color);
  }
  .bottom-text a{
    color: var(--primary-color);
  }
  .bottom-text a:hover{
   text-decoration: none;  }
  .bottom-text-btn{
    background-color: var(--textiary-color);
    color: var(--primary-color);
    text-decoration: none;
    margin-left:  10px;
    padding: 5px ;
    border-radius: 3px;
  }
  .bottom-text-btn:hover{
    color: var(--primary-color);
    text-decoration: underline;
    margin-left: 10px;
  }
   .submit-btn{
    width: 15rem;
    height: 4rem;
  }
   .submit-btn:hover{
    width: 15rem;
    height: 4rem;
  }

  @media (min-width:768px){
    .menu-wrap{
        display: none;
    }
  }
    